In [2]:
import pandas as pd
df = pd.read_csv("NTD_dictionary.csv")
df.head()

                   English                  english         Hindi
0                 Tropical                 tropical  उष्णकटिबंधीय
1              Neglectical              neglectical      उपेक्षित
2            leishmaniasis            leishmaniasis     लीशमैनिया
3  cutaneous leishmaniasis  cutaneous leishmaniasis     काला ज्वर
4  cutaneous leishmaniasis  cutaneous leishmaniasis    काला बुखार

In [27]:
df.columns

Index(['English', 'english', 'Hindi'], dtype='object')

In [28]:
df = df.drop(['English'],axis=1)
df.head()

                   english         Hindi
0                 tropical  उष्णकटिबंधीय
1              neglectical      उपेक्षित
2            leishmaniasis     लीशमैनिया
3  cutaneous leishmaniasis     काला ज्वर
4  cutaneous leishmaniasis    काला बुखार

In [30]:
df.to_csv('NTD_dictionary2.csv',sep=';', index=False)